/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*******************/
body {
	font-size: 14px;
	background: url('images/master_bg.jpg') repeat;
	font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	color: #3b3b3b;
        width:100%;
        height:100%;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 10px;
	line-height: 30px;
}

.clear {
	clear: both;
}

.bold {
	font-weight:bold;
}

.left {
	float: left;
}

.right {
	float: right;
}

a {
    text-decoration: none;
}

#head_wrap {
    position: relative;
    height:auto;
}

.message {
    padding: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    width:465px;
    position: absolute;
    bottom: -60px;
    left: 20px;
}
.message.error {
        display: none;
	background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.19, rgb(219,94,88)),
            color-stop(0.6, rgb(233,106,100)),
            color-stop(0.8, rgb(219,94,88))
        );
        background-image: -moz-linear-gradient(
            center bottom,
            rgb(219,94,88) 19%,
            rgb(233,106,100) 60%,
            rgb(219,94,88) 80%
        );
	border: 1px solid #ab2626;	
        color: #5e1313;    
}

.message.success {
        display: none;
    	background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.19, rgb(175,209,84)),
            color-stop(0.6, rgb(185,221,89)),
            color-stop(0.8, rgb(175,209,84))
        );
        background-image: -moz-linear-gradient(
            center bottom,
            rgb(175,209,84) 19%,
            rgb(185,221,89) 60%,
            rgb(175,209,84) 80%
        );
	border: 1px solid #99b746;
        color: #667b2d;
}
#wrapper {
	width: 900px;
	margin: 0 auto;
	padding-top: 30px;
}


/*** FORM ***/
label {
	line-height: 30px;
	vertical-align:middle;
} 

input, textarea {
	padding:4px;
	width: 310px;
	margin-bottom: 15px;
	border: 1px solid #988d6a;
	background-color: #fff;
	margin-left: 0 !important;	
	display: block;
}

textarea {
	height: 110px;
	width: 400px;
}

input[type="submit"] {
        margin-bottom: 0px;
        background: url('images/submit_normal.png') no-repeat;
	height: 36px;
        width:139px;
	cursor:pointer;
	border:0;
	
}

input[type="submit"]:hover, input[type="submit"]:focus {
   background: url('images/submit_hover.png') no-repeat;
}

/*** LOGIN ***/

#login-container {
	background: url('images/login_bg.png') no-repeat transparent center center;
	width: 659px;
	height:235px;
	margin: 0 auto;
	margin-top:60px;
	padding: 32px;
}

#login-container form {
	width: 440px;
	padding-top: 90px;
}

label.login {
	margin-left: 10px;
}

input[type="submit"].login {
	margin-top: 25px;
}

/*** MAIN SITE ***/

/* ALLGEMEIN */
div.main {
  background: rgba(240,240,240,.6);
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 2px rgba(33,33,33,.3);
  margin-top:65px;
  z-index: 2;
  position: relative;
}

/* HEAD */
header {
    float: right;
    margin-right:10px;
    width:100%;
}

header div.header_title {
    padding:10px 10px 4px;
    border-radius: 5px 5px 0 0;
    background: rgba(236,236,236,.8);
    position: relative;
    box-shadow: 1px -2px 3px rgba(33,33,33,.20);
    z-index: 1;
    float:right;
}

header div.header_title img {
    width: 253px;
    height: 50px;
}

header div.header_logout {
    margin-top:37px;
    position: relative;
    float:right;
    z-index: 0;
    padding:8px 18px 6px;
    border-radius: 0px 5px 0 0;
    background: rgba(236,236,236,.8);
    box-shadow: 1px -2px 3px rgba(33,33,33,.20);
}

header div.header_logout a {
    font-size: 14px;
    color: #3b3b3b;
    margin-bottom:5px;
}

header div.header_logout a:link:hover {
    color:#3b3b3b;
    text-decoration: underline;
}

/* CONTENT HEAD */
    /* BLUE BOX */
.info_box {
    position: relative;
    float:left;
    width: 225px;
    margin-left: -35px;
    border-radius: 3px;
    border: 1px solid #385f96;
    min-height: 100px;
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.20, rgb(41,73,120)),
            color-stop(0.90, rgb(89,130,189))
        );
    box-shadow: 0px 2px 5px 1px rgba(33,33,33,.20);
    padding:10px;
}

.info_box_top {
  position:absolute;
  z-index:-1;
  top:-9px;
  left: 0px;
  width: 13px;
  height: 10px;
  background: url('images/blau_ecke.png') no-repeat bottom left;
}

.info_box_content {
  font-family: Georgia, serif;
  color: #f8f8f8;
  line-height: 24px;
  font-size: 15px;
  text-shadow: 0px 1px 1px rgba(33,33,33,1);
  font-weight:600;
}

.info_box_content p {
    padding-bottom:10px;
}

.info_box_content span {
    padding:0px;
    font-size:32px;
    letter-spacing: 0px;
    line-height:30px;
}

.info_box_bottom {
    position:absolute;
    bottom:10px;
    left: 85px;
    background: url('images/verzierung.png') no-repeat bottom center;
    width: 54px;
    height:17px;
}
    /* FORM */
#eintrag_form {
    float:right;
    width: 510px;
    padding: 15px 40px;
    border-radius: 5px;
    background-color: rgba(114,114,114,0.20);
    -moz-box-shadow: inset 0px 1px 5px rgba(33,33,33,0.5);
    -webkit-box-shadow: inset 0px 1px 5px rgba(33,33,33,0.5);
}

.eintrag_form_label {
    width: 90px;
}

#eintrag_form textarea {
    width:408px;
}

.dialog-body textarea {
    width: 413px;
}

#eintrag_form input[type=text], .dialog-body input[type=text] {
    width: 130px;
}

.euro {
    margin-left: 10px;
    vertical-align: baseline;
    line-height:30px;
}

/*** DIFF AREA ***/
#diff {
    position: relative;
    margin-top:50px;
    width: 100%;
    height:100px;
    border-radius: 5px;
    background-color: rgba(114,114,114,0.20);
    -moz-box-shadow: inset 0px 1px 5px rgba(33,33,33,0.5);
    -webkit-box-shadow: inset 0px 1px 5px rgba(33,33,33,0.5);
}

.diff_box {
    position: absolute;
    background: url('images/value_box.png') no-repeat;
    width:329px;
    height:113px;
    top:27px;
    left:266px;
}

.diff_name {
    height: 17px;
    text-transform: uppercase;
    color: #fffffe;
    font-size:16px;
    text-align: center;
    padding:5px 0;
}

.diff_value {
    height: 35px;
    padding: 10px 0;
    text-align: center;
    font-size: 40px;
    font-family: Georgia, serif;
    color: #fffffe;
    text-shadow: -2px -2px 3px rgba(33,33,33,.50);
}

/*** CONTENT ***/
/* BOXEN GROSS */
.content_box {
    width: 417px;
    height:auto;

    margin-top:15px;
}

.content_box_contentWrapper {
    border-radius: 0 0 5px 5px;
    border-left: 1px solid #d9d9da;
    border-right: 1px solid #d9d9da;
    border-bottom: 1px solid #d9d9da;
    background-color: #fff;
    padding:15px
}
.content_box_top {
   width:268px;
   height: 40px;
   background-color: #fff;
   border-top: 1px solid #d9d9da;
   
}

.content_box_top h2 {
    font-family:Georgia, serif;
    font-weight:normal;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: none;
    padding: 15px 15px;
}

.content_box_top.left {
    text-align: left;
     border-left: 1px solid #d9d9da;
     border-radius: 5px 0 0 0;
}

.content_box_top.right {
    text-align: right;
     border-right: 1px solid #d9d9da;
    border-radius: 0 5px 0 0;
}
.content_box_schrage {
    width:148px;
    height:42px;
    margin-top:-1px;
}

.content_box_schrage.right {
    background: url('images/box_schrage_rechts.png') no-repeat;  
}

.content_box_schrage.left {
    background: url('images/box_schrage_links.png') no-repeat;
}

/* INHALT */
    /* BALKEN */
.month {
   height: 28px;
   border-radius: 3px;
   background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.40, rgb(45,42,45)),
            color-stop(0.98, rgb(95,91,80))
        );
        background-image: -moz-linear-gradient(
            center bottom,
            rgb(45,42,45)40%,
            rgb(95,91,80) 98%
        );
   margin-top:5px;
   position: relative;
   z-index: 5;
}

.month.open {
    border-radius: 3px 3px 0 0;
}

.month span {
    color: #f5f5f4;
    font-size: 16px;
    margin-left: 10px;
    line-height: 24px;
    vertical-align: middle;
}

.month span.arrow {
    width: 14px;
    height:13px;
    margin-right: 5px;
    margin-top: 7px;
}

.month span.arrow.closed {
   background: url('images/pfeil_zu.png') no-repeat;
}

.month span.arrow.open {
   background: url('images/pfeil_offen.png') no-repeat;
}

    /* ENTRIES */
.entry {
    margin: 10px 5px;
    font-size:13px;
    display: none;
}

.entry.now {
    display:block;
}

.entry_border {
    position:relative;
    z-index:0;
    border: 1px solid #d9d9da;
    margin-top:-2px;
    border-radius:0 0 3px 3px;
}

.sub_entry {
    padding-bottom:10px;

}

.sub_entry_line {
    height: 1px;
    width:371px;
    margin-top: 10px;
    background: url('images/entry_border.png') no-repeat;
}
.item_left {
    width: 70px;
    margin-right: 5px;
}

.edit {
    width:16px;
    height:16px;
    background: url('images/pen_normal.png') no-repeat;
    padding:4px;
     margin-top: 4px;
}

.edit:hover, .edit:focus {
    cursor: pointer;
    background: url('images/pen_hover.png') no-repeat;
}

.delete {
    width:13px;
    height:16px;
    background: url('images/delete_normal.png') no-repeat;
    padding:4px;
    margin-top: 4px;
}

.delete:hover, .delete:focus {
    cursor:pointer;
    background: url('images/delete_hover.png') no-repeat;
}

.comment {
    width:295px;
}

.monthly-sum {
    margin: 0px 5px 10px;
    text-align: right;
    color: #385f96;
}
/* POP UP EDIT */
#overlay {
    margin:0 auto;
    position: fixed;
    z-index:20;
    top: 0;
    left: 0;
    display:none;
    background-color: rgba(0,0,0,.70);
    width: 100%;
    height: 100%;
}
#edit-form {
  width: 100%;
  height: 100%;
}

.dialog-frame {
  width: 545px;
  height: 280px;
  border-radius: 3px;
  background-color: #fff;
}

.dialog-header {
   background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.20, rgb(41,73,120)),
            color-stop(0.90, rgb(89,130,189))
        );
  border-radius: 3px 3px 0 0;
  border: 1px solid rgb(41,73,120);
  padding: 3px;
  height:25px;
  font-size:14px;
  line-height:20px;
  vertical-align: middle;
  color: #fff;
}

.dialog-body {
    padding: 15px;
    border:1px soldi #333;
}

.close {
    color: #fff;
    font-size:16px;
    margin-right:5px;
}

.close:hover, .close:focus {
    cursor: pointer;
}
